@use "sass:math";

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1024px;

// full
$full: 1512px;

// 余白
$padding-pc: 30px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", "sans-serif";
$second-font-family: "Courgette", "cursive";
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

$black: #4a3636;
$white: #fff;
$red: #ce2073;
$gray: #f5f5f5;
$blue1: #67b0c7;
$blue2: #9ed0e0;
$blue3: #e9f6f8;


////////////////////
// メディアクエリとブレークポイントの設定
////////////////////

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 900,
  xl: 1200,
);

//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

body {
  color: $black;
  background-color: $blue3;
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(16);
  overflow-y: auto;
}
