@use "global" as *;

.p-mv {
  min-height: rem(710);
  position: relative;
  @include mq("md") {
    min-height: rem(879);
  }
}

.p-mv__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(554);
  overflow: hidden;
  border-radius: 0px 0px 24px 24px;
  @include mq("md") {
    height: rem(740);
    border-radius: 0px 0px 40px 40px;
  }
}

.p-mv__picture img {
  height: 100%;
}

.p-mv__inner {
  max-width: rem(335);
  position: relative;
  padding-top: rem(18);
  padding-left: 0;
  padding-right: 0;
  min-height: inherit;
  @include mq("md") {
    min-width: rem(848);
    padding-top: rem(34);
  }
}

.p-mv__content{
  min-height: inherit;
}

.p-mv__text {
  text-align: center;
  text-shadow: 0px 0px 30px #fff;
  font-size: rem(14);
  line-height: 1.25;
  @include mq("md") {
    font-size: rem(24);
    font-weight: $medium;
  }
}

.p-mv__title-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(24);
  }
}

.p-mv__title {
  max-width: rem(335);
  width: 100%;
  @include mq("md") {
    max-width: rem(520);
  }
}

.p-mv__title img{
  object-fit: contain;
  height: 100%;
}

.p-mv__title :nth-child(n + 2) {
  margin-top: rem(12);
  @include mq("md") {
    margin-top: rem(16);
  }
}

.p-mv__decorations {
  position: relative;
  margin-top: rem(10);
}

.p-mv__iphon {
  position: absolute;
  top: rem(103);
  left: 50%;
  transform: translateX(-50%);
  max-width: rem(200);
  width: 100%;
  margin-inline: auto;
  aspect-ratio: 200/408;
  z-index: 10;
  @include mq("md") {
    top: rem(18);
    max-width: rem(250);
    aspect-ratio: 250/510;
  }
}

.p-mv__iphon img {
  height: 100%;
}

.p-mv__iphon-content {
  position: absolute;
  width: rem(160);
  top: calc(50% + rem(230));
  left: 50%;
  transform: translatex(-50%);
  border-radius: 12.8px;
  z-index: 15;
  @include mq("md") {
    top: calc(50% + rem(171));
    width: rem(200);
  }
}

.p-mv__iphon-title {
  color: $white;
  text-align: center;
  font-size: rem(12.8);
  font-weight: $bold;
  background: linear-gradient(
    265deg,
    #ac3790 -3.52%,
    #d65a5c 44.94%,
    #f4c06d 92.38%
  );
  padding: rem(6.4) rem(18.5);
  border-top-left-radius: 12.8px;
  border-top-right-radius: 12.8px;
  @include mq("md") {
    font-size: rem(16);
    padding: rem(8) rem(23);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.p-mv__iphon-body {
  text-align: center;
  background-color: $white;
  padding: rem(3) rem(5) rem(17);
  border-bottom-left-radius: 12.8px;
  border-bottom-right-radius: 12.8px;
  @include mq("md") {
    padding: rem(13) rem(5) rem(9);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.p-mv__iphon-text {
  display: inline-block;
  font-size: rem(12);
  border-bottom: 2.4px solid var(--LP-Red, #ce2073);
  @include mq("md") {
    font-size: rem(14);
  }
}

.p-mv__iphon-date {
  font-size: rem(12);
  font-weight: $bold;
  margin-top: rem(4.2);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(4);
  }
}

.p-mv__iphon-btn {
  margin-top: rem(15);
  @include mq("md") {
    margin: rem(16);
  }
}

.p-mv__left {
  position: absolute;
  top: rem(7);
  left: 0;
  max-width: rem(142);
  width: 100%;
  aspect-ratio: 142/80;
  @include mq("md") {
    top: rem(-16);
    left: rem(34);
    max-width: rem(244);
    aspect-ratio: 244/130;
  }
}

.p-mv__left img {
  height: 100%;
}

.p-mv__right {
  position: absolute;
  top: 0;
  right: rem(24);
  max-width: rem(110);
  width: 100%;
  aspect-ratio: 1/1;
  @include mq("md") {
    top: rem(-14);
    right: rem(125);
    max-width: rem(180);
    margin-top: rem(17);
  }
}

.p-mv__right img {
  height: 100%;
}

.p-mv__foods {
  position: absolute;
  top: rem(382);
  left: rem(2);
  width: 100%;
  max-width: rem(86);
  aspect-ratio: 86/141;
  z-index: 15;
  @include mq("md") {
    top: rem(213);
    max-width: rem(202);
  }
}

.p-mv__foods img {
  height: 100%;
}

.p-mv__cat1 {
  position: absolute;
  top: rem(395);
  right: 0;
  width: 100%;
  max-width: rem(62);
  aspect-ratio: 62/69;
  z-index: 15;
  @include mq("md") {
    top: rem(294);
    right: rem(63);
    max-width: rem(170);
  }
}

.p-mv__cat1 img {
  height: 100%;
}

.p-mv__cat2 {
  position: absolute;
  top: rem(450);
  right: rem(9);
  width: 100%;
  max-width: rem(98);
  aspect-ratio: 98/72;
  z-index: 15;
  @include mq("md") {
    top: rem(413);
    right: rem(4);
    max-width: rem(233);
  }
}

.p-mv__cat2 img {
  height: 100%;
}