@use "global" as *;

.p-qa-box {
  border: 2px solid var(--LP-Blown, #4a3636);
  border-radius: 12px;
  @include mq("md") {
    border-radius: 16px;
  }
}

.p-qa-box__top.is-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .p-qa-box__bottom {
    display: block;
  }
  .p-qa-box__btn::after {
    transform: translate(-50%, -50%);
  }
}

.p-qa-box__top {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  background-color: $white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: rem(12) rem(52) rem(12) rem(14);
  @include mq("md") {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: rem(24) rem(24) rem(20) rem(24);
  }
}

.p-qa-box__btn {
  position: absolute;
  right: rem(15);
  width: rem(26);
  height: rem(26);
  background-color: $blue2;
  border-radius: 50%;
  @include mq("md") {
    right: rem(24);
    width: rem(48);
    height: rem(48);
  }
}

.p-qa-box__btn::before,
.p-qa-box__btn::after {
  position: absolute;
  content: "";
}

.p-qa-box__btn::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(10);
  height: rem(1.5);
  background-color: $white;
  @include mq("md") {
    right: rem(15);
    width: rem(18);
    height: rem(3);
  }
}

.p-qa-box__btn::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: rem(10);
  height: rem(1.5);
  background-color: $white;
  @include mq("md") {
    right: rem(15);
    width: rem(18);
    height: rem(3);
  }
}

.p-qa-box__bottom {
  width: 100%;
  background-color: $gray;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: rem(15);
  display: none;
  @include mq("md") {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: rem(28) rem(24) rem(22) rem(24);
  }
}

.p-qa-box__top-text {
  font-weight: $bold;
  margin-left: rem(12);
  font-size: rem(14);
  @include mq("md") {
    font-size: rem(20);
  }
}

.p-qa-box__answer {
  display: flex;
  align-items: center;
}

.p-qa-box__answer-text {
  font-size: rem(14);
  margin-left: rem(12);
  @include mq("md") {
    font-size: rem(16);
  }
}

.p-qa-box__top-text,
.p-qa-box__answer-text {
  text-align: left;
}

.p-qa-box__top-icon,
.p-qa-box__answer-icon {
  color: $blue2;
  font-family: "Josefin Sans";
  line-height: 1.25;
  font-size: rem(24);
  @include mq("md") {
    font-size: rem(32);
  }
}

.p-qa-box__top-icon {
  padding-top: rem(3);
}
